@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}

aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary {
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full {
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    padding: 10px;
}

/* Estilização do Modal */

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    display: none;
}

#modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #C2185B;
    border-radius: 15px;
    border-bottom: 5px solid #C2185B;
    border-left: 5px solid #C2185B;
    z-index: 10;
    display: none;
}

#modal-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-inline: 30px;
    color: #C2185B;
}

#modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

#modal-body button {
    width: 100px;
    font-size: 15px;
    padding: 5px;
    background-color: #C2185B;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: .7;
}

#modal-body form input {
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #C2185B;
    padding-inline: 15px;
}

.close {
    font-size: 25px;
    cursor: pointer;
}

/* #fade, #modal {
    transition: 0.8s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
    top: 0;
  } */


/* slider show img */
.slideshow-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 1vh;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 150px;
}

.slideshow-container {
    position: relative;
    width: 150vh;
    height: 80vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.slide.active {
    opacity: 3;
}

.slide img {
    padding: 40px;
    width: 100%;
    height: fit-content;
    object-fit: cover;

}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type=button] {
    background-color: gray;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0px;
    margin: 4px 8px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 25%;
}